.card-header{
	background-color: #87a7ff;
	color:white;
	margin-bottom: -10px;

}


.icon-text-pos{
position: absolute;
margin-left: 30px;
margin-top: -6px;
}

.card2{
	box-shadow: 0px 0px 5px #888888;
}

.grow>li>a:hover{
	transform: scale(1.15);
	transition: transform .2s linear;
}

