<div class="container">
	<h2 style="background-color: #87a7ff" class="text-center mt-2 card-header card2">Welcome, {{userdata['firstName']}}! <i class="far fa-smile-beam"></i></h2><br/>
	<div style="padding: 0" class="row mb-2">
		<div style="padding: 0" class="col-md-4 col-12 col-sm-12">
			<div style="color:black" class="container">
			<h2 class="card card2 card-header"><i class="far fa-address-card"></i><span class="icon-text-pos">Profile Details</span></h2><br/>
			<ul *ngIf="userdata" style="padding: 20px;list-style-type: none;" class="card card2">
				<li><b>Name : </b>{{userdata["firstName"]+" "+userdata["lastName"]}}</li><hr/>
				<li><b>Address : </b>{{userdata['address']}}</li><hr/>
				<li><b>Email : </b>{{userdata['email']}}</li><hr/>
				<li><b>Phone No :</b> {{userdata["phoneNo"]}}</li><hr/>
				<li><b>Total Accounts :</b> {{accountsdata.length}}</li>
			</ul>
			</div>
		</div>
		
		<div style="padding: 0" class="col-md-5 col-12 col-sm-12">
			<div class="container" style="height: 93%">
				<ul class="card-body" style="list-style-type: none;margin-top: -20px">
					<h2 class="card-header card2 mb-2"><i class="fas fa-landmark"></i> Accounts Summary</h2>
					<li *ngFor = "let account of accountsdata">
						<div style="padding:5px 0 0 10px;" class="card card2 container mb-2">
							<p><b>Account No : </b><a routerLink="/banking/account/details/{{account.id.acctNo}}">{{account.id.acctNo}}</a></p>
							<p><b>Account Type : </b><span style="color: #793b87">{{account.acctType.toUpperCase()}}</span></p>
							<p><b>Balance : </b><b style="color: black">{{account.balance | currency:'INR'}}</b></p>
						</div>
					</li>
					
				</ul>
			</div>
			
		</div>

		<div style="padding: 0" class="col-md-3 col-12 col-sm-12">
			<div style="color:black" class="container">
			<h2 class="card card2 card-header"><i class="fab fa-wpexplorer"></i><span class="icon-text-pos">Explore</span></h2><br/>
			<ul *ngIf="userdata" style="padding: 20px;list-style-type: none;" class="card card2 text-center grow">
				<li><a mat-raised-button color="" routerLink="/banking/payments/bill_payment">Bill Payment</a></li><hr/>
				<li><a mat-raised-button color="" routerLink="/banking/transfer/fund_transfer">Fund Transfer</a></li><hr/>
				<li><a mat-raised-button color="" routerLink="/banking/payments/manage_biller">Manage Billers</a></li><hr/>
				<li><a mat-raised-button color="" routerLink="/banking/transfer/manage_beneficiary">Manage Beneficiary</a></li>			
				
			</ul>
			</div>
		</div>
	</div>
</div>
