<div class="container">
	<h2 style="background-color: #87a7ff" class="text-center mt-2 card-header card2">Welcome, {{userdata['firstName']}}! <i class="far fa-smile-beam"></i></h2><br/>
	<div class="row mb-2">
		<div class="col-md-6">
			<div style="color:black" class="container">
			<h2 class="card card2 card-header"><i class="far fa-address-card"></i><span class="icon-text-pos">Profile Details</span></h2><br/>
			<ul *ngIf="userdata" style="padding: 20px;list-style-type: none;" class="card card2">
				<li><b>Name : </b>{{userdata["firstName"]+" "+userdata["lastName"]}}</li><hr/>
				<li><b>Address : </b>{{userdata['address']}}</li><hr/>
				<li><b>Email : </b>{{userdata['email']}}</li><hr/>
				<li><b>Phone No :</b> {{userdata["phoneNo"]}}</li><hr/>
				<li><b>Total Accounts :</b> {{accountsdata.length}}</li>
			</ul>
			</div>
		</div>
		<div class="col-md-6">
			<!--<small>select your account for details</small>
			<div class="row">
				<div class="col-md-8 col-12">
					<select [(ngModel)]="selectedLevel" (change)="selected()" class="form-control">
						<option disabled>
							please select account
						</option>
						<option *ngFor = "let account of accountsdata" [ngValue]="account.id.acctNo">
							{{account.acctType}}
						</option>
					</select>
				</div>
				<div class="col-md-4 col-12">
					<button id="act_detail_btn" disabled class="btn btn-md btn-success" (click)="getAccntDetails()">See Details</button>
				</div>
			</div>-->
			<div class="container" style="height: 93%">
				<ul class="card-body" style="list-style-type: none;margin-top: -20px">
					<h2 class="card-header card2 mb-2"><i class="fas fa-landmark"></i> Accounts Summary</h2>
					<li *ngFor = "let account of accountsdata">
						<div style="padding:5px 0 0 10px;" class="card card2 container mb-2">
							<p><b>Account No : </b><a routerLink="/banking/account/details/{{account.id.acctNo}}">{{account.id.acctNo}}</a></p>
							<p><b>Account Type : </b><span style="color: #793b87">{{account.acctType.toUpperCase()}}</span></p>
							<p><b>Balance : </b><b style="color: black">{{account.balance | currency:'INR'}}</b></p>
						</div>
					</li>
					
				</ul>
			</div>


			
		</div>
	</div>
</div>
