<div class="container mt-2">
<h2 class="card-header text-center card3 heading-page">Bill Payment</h2>
<mat-horizontal-stepper linear #stepper style="margin-top: -15px">
  <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
    <div class="text-center">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel><div id="initial_head" class="checkheader"><span class="poscent">Fill out Payment details</span></div></ng-template>
        <div class="card2 text-center">
          <h2 class="text-center card3 card-header">Fill the Details</h2>
          <mat-form-field>
            <!--<mat-label>Name</mat-label>
            <input matInput formControlName="name" placeholder="Last name, First name" required> -->
             <mat-label>Select an Account</mat-label>
             
    		  <mat-select formControlName="fromAccountNo">
            <mat-option  *ngFor = "let account of accntList" value={{account.id.acctNo.toString()}} >{{account.acctType}}</mat-option>
    		  </mat-select>	
          </mat-form-field><br/>
          <mat-form-field *ngIf="billerList.length">
            <mat-label>Select Biller</mat-label>
      		  <mat-select formControlName="biller">
      		     <mat-option *ngFor = "let biller of billerList" value="{{biller.vendor.category.toString() +' - '+ biller.vendor.vcompName.toString()}}" >{{biller.vendor.vcompName}} </mat-option>
      		  </mat-select>	
            
          </mat-form-field><br/>
          <div *ngIf="!billerList.length">
            <small style="color: red">No Biller exists, Go & add</small><br/>
            <a mat-raised-button color="primary" routerLink="/banking/payments/manage_biller/add">Add Biller</a>
          </div><br/>
          <mat-form-field>
          <mat-label>Amount</mat-label>
            <input matInput formControlName="amount" placeholder="min amt 100" required>
          </mat-form-field><br/>
          <mat-form-field>
          <mat-label>Remark(optional)</mat-label>
            <input matInput formControlName="remark" placeholder="" >
          </mat-form-field>
          
          <div>
            <button mat-raised-button color="accent" matStepperNext (click)="firstFormData()">Proceed</button>
          </div>
      </div>
      </form>
    </div>
  </mat-step>


  <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
    <div class="text-center mb-5">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Payment Summary & Authentication</ng-template><br/>
      <div style="margin-bottom: 1%" class="card2 text-center">
        <div style="text-align: left;padding-left: 2%;">
          <h2 class="text-center card-header card3">Payment Details</h2>
          <p><strong>From Account No : </strong> {{this.fullData.fromAccountNo}}</p>
          <p><strong>To Biller : </strong>{{this.fullData.biller}}</p>
          <p><strong>Amount : </strong> {{this.fullData.amount | currency:'INR'}}</p><br/>
        </div>
      </div>
      <mat-form-field>
        <mat-label>Enter your High Security Password</mat-label>
        <input type="Password" matInput formControlName="transPwd" placeholder="" required>
      </mat-form-field>
      <div>
        <button mat-raised-button color="primary" matStepperPrevious>Back</button>
        <button class="ml-2" mat-raised-button color="accent" (click)="secondFormData(stepper)">Confirm & Proceed</button>
        <button class="ml-2" mat-raised-button color="warn" (click)="cancelTransaction()">Cancel</button>
      </div>
    </form>
  </div>
  </mat-step>


  <mat-step>
    <ng-template matStepLabel>Payment Status</ng-template>
    <div class="text-center card2">
    <mat-spinner *ngIf="!message.category.length" style="margin-left: 42%"></mat-spinner><br/>
    <div *ngIf="message.category.length">
      <h2 style="color: red" *ngIf="message.category != 'success'">FAILURE!</h2>
      <h2 style="color: green" *ngIf="message.category == 'success'">SUCCESS!</h2>
      <h3 style="font-weight: bold">{{message.content}}</h3><div *ngIf="message.category == 'success' ">
      <h4><b>Transaction Reference No : </b>{{message.refNo}}</h4>
      <small style="color: blue">*<i>This can be used for reference</i></small></div><br/>
    </div>
    <div>
      <button class="ml-2" mat-raised-button color="primary" (click)="resetForm(stepper)">Make Another Payment</button>
    </div>
  </div>
  </mat-step>
</mat-horizontal-stepper>
</div>