.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.card2{
	width: 550px;
	text-align: center;
	border:1px solid #c8cacc;
	margin-right: auto;
	margin-left: auto;
	padding: 1rem;
	border-radius: 0.25rem;
	margin-top: 5px;
	box-shadow: 0px 0px 10px #888888;
	background-color: white;
	margin-bottom: 5%;
}

.card3{
	box-shadow: 0px 0px 5px #888888;
}

.checkheader{
	width: 200px;
	height: 80px;
	background-color: rgba(0,0,0,0.04);
}

.poscent {
  position: absolute;
  top: 36%;
  left: 25%;
  /*opacity: 1!important;
  z-index: 11;*/
}

.err-toast{
opacity: .75;
position: absolute;
z-index: 999;
left: 40%;

}
