<div class="container mt-2">
	<h2 class="card-header text-center heading-page card3">Update Biller</h2>
<br/>

<form (ngSubmit)="onSubmit()">
	<div class="card2 text-center">
				<h2 class="text-center card3 card-header">Edit the Details</h2>
				<mat-form-field *ngIf="biller.vendor.category==='Mobile_Recharge'" class="full-width">
					<mat-label color="red">
						Mob No
					</mat-label>
					<input style="color: black" type="text" matInput required [(ngModel)]="biller.mobNo" name="mobNo">
				</mat-form-field>
				<mat-form-field *ngIf="biller.vendor.category==='Insurance'" class="full-width">
					<mat-label color="red">
						Premium No
					</mat-label>
					<input style="color: black" type="text" matInput required [(ngModel)]="biller.premiumNo" name="premiumNo">
				</mat-form-field>
				<mat-form-field *ngIf="biller.vendor.category==='Electric_Bill'" class="full-width">
					<mat-label color="red">
						Electric Bill No
					</mat-label>
					<input style="color: black" type="text" matInput required [(ngModel)]="biller.electricbillNo" name="electricbillNo">
				</mat-form-field>

				<div class="container text-center">
					<button type="submit" mat-raised-button color="primary">Update</button>
				</div>
	</div>
</form>
</div>


