<div class="container mt-2">
  <h2 class="card-header text-center heading-page card3">Add Beneficiary</h2>
<mat-horizontal-stepper linear #stepper style="margin-top: -15px">
  <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
    <div class="text-center">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel><div id="initial_head" class="checkheader"><span class="poscent">Fill out Beneficiary details</span></div></ng-template>
        <div class="card2 text-center">
        <h2 class="text-center card-header card3">Fill the Details</h2>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" placeholder="Enter name" required>
        </mat-form-field><br/>

        <mat-form-field>
          <mat-label>Account No</mat-label>
          <input matInput formControlName="accountNo" placeholder="Enter ac no" required>
        </mat-form-field><br/>

        <mat-form-field>
          <mat-label>Bank Name</mat-label>
          <input matInput formControlName="bankName" placeholder="Enter bank name" required>
        </mat-form-field><br/>

        <mat-form-field>
          <mat-label>Branch Name</mat-label>
          <input matInput formControlName="branchName" placeholder="Enter branch name" required>
        </mat-form-field><br/>

        <mat-form-field>
          <mat-label>Ifsc Code</mat-label>
          <input matInput formControlName="ifscCode" placeholder="Enter code" required>
        </mat-form-field><br/>

        <mat-form-field>
          <mat-label>Nickname</mat-label>
          <input matInput formControlName="nickname" placeholder="Enter nickname">
        </mat-form-field><br/>
        
        <div>
          <button mat-raised-button color="accent" matStepperNext (click)="firstFormData()">Proceed</button>
        </div>
      </div>
      </form>
    </div>
  </mat-step>


  <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
    <div class="text-center mb-5">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Beneficiary Summary & Authentication</ng-template>

      
            <div style="margin-bottom: 1%" class="card2 text-center">
                <h2 class="card-header text-center card3">Beneficiary Details</h2>
                <div style="text-align: left;margin-left: 2%">
                  <p><b>Name : </b><span style="font-weight: light;">{{fullData.name}}</span></p>
                  <p><b>Account No : </b><span style="font-weight: light;">{{fullData.accountNo}}</span></p>
                  <p><b>Bank Name : </b><span style="font-weight: light;"> {{fullData.bankName}}</span></p>
                  <p><b>Branch Name : </b><span style="font-weight: light;"> {{fullData.branchName}}</span></p>
                  <p><b>IFSC Code :  </b><span style="font-weight: light;">{{fullData.ifscCode}}</span></p>
                  <p *ngIf="fullData.nickname.length"><b>Nicknane :  </b><span style="font-weight: light;">{{fullData.nickname}}</span></p>
                </div>
        </div>
        
      
      <mat-form-field>
        <mat-label>Enter your High Security Password</mat-label>
        <input type="Password" matInput formControlName="transPwd" placeholder="" required>
      </mat-form-field>

      <div>
        <button mat-raised-button color="primary" matStepperPrevious>Back</button>
        <button class="ml-2" mat-raised-button color="accent" matStepperNext (click)="secondFormData()">Confirm & Proceed</button>
        <button class="ml-2" mat-raised-button color="warn" (click)="cancelTransaction()">Cancel</button>
      </div>
    
    </form>
  </div>
  </mat-step>


  <mat-step>
    <ng-template matStepLabel>Transaction Status</ng-template>
    <div class="text-center card2">
      <mat-spinner *ngIf="!message.length" style="margin-left: 42%"></mat-spinner><br/>
      <h2>{{message}}</h2>
      <button *ngIf="message == 'Invalid Password!' " class="ml-2" mat-raised-button color="accent" (click)="cancelTransaction()">Try Again</button>
      <button class="ml-2" mat-raised-button color="primary"><a style="color: white;text-decoration: none" routerLink="/banking/transfer/manage_beneficiary">View Beneficiary</a></button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
</div>