<div class="bootstrap-wrapper">
	<div class="container text-center mt">
		<div class="row">
			<div class="col-md-6 offset-md-3 card">
				<h1 class="">
					Login

					<!--Form-->
					<div class="container" style="background-color: #E2E2E2;border-radius: 0.25rem;height:260px">
						<form (ngSubmit)="onSubmit()">
							<mat-form-field class="full-width">
								<mat-label color="red">
									Username
								</mat-label>
								<input style="color: black" type="text" matInput required [(ngModel)]="credentials.username" name="username">
							</mat-form-field>

							<mat-form-field class="full-width">
								<mat-label color="white">
									Password
								</mat-label>
								<input style="color: black" type="password" matInput required [(ngModel)]="credentials.password" name="password">
							</mat-form-field>

							<div class="container text-center">
								<button style="margin-right: 20px" type="submit" mat-raised-button color="primary">Login</button>
								<button type="reset" mat-raised-button color="accent">Reset</button>
							</div>
						</form>
						<br/>
						<h1 *ngIf="errFields" style="color: red">Fields are empty!</h1>
						<h1 *ngIf="errUnauth==401" style="color: red">Either username or password is incorrect!</h1>
					</div>

					
				</h1>
			</div>
		</div>
	</div>
</div>