.card-header{
	background-color: #a804cc;
	color:white;
	margin-bottom: -10px;

}

.card-body{
	list-style-type: none;
	
}

.icon-mini-text{
	position: absolute;
	margin-left:1px;
	margin-top: -3px;
}
