<div class="container mt-2" >
	<div class="row">
		<div class="col-md-3 col-12 mt-1 card" style="background-color: white;color: black;border-radius: 0.25rem">
			<h2 class="text-center card-header mt-2"><i class="fas fa-landmark"></i> Account Summary</h2><br/>

			<ul class="card-body card">
				<li>
					<b>Account No : </b>{{accountsinfo["id"].acctNo}}
				</li><hr/>
				<li>
					<b>Account Type : </b>{{accountsinfo['acctType'] }}
				</li><hr/>
				<li>
					<b>Operation Type : </b>{{ accountsinfo['operationType'] }}
				</li><hr/>
				<li>
					<b>Balance : </b>{{ accountsinfo['balance'] | currency:'INR'}}
				</li><hr/>
				<li>
					<b>Ifsc Code : </b>{{ accountsinfo['branch'].ifscCode }}
				</li>

			</ul>
		</div>
		<div class="mt-1 col-md-9 col-12 card" style="color: black;border-radius: 0.25rem">
			<h2 class="text-center mt-2 card-header"><i class="fas fa-paperclip"></i> Mini Statement</h2>
			<div *ngIf="!transinfo.length">
				<hr/>
				<h1  class="text-center">No Transactions Yet!</h1>
			</div>
			<table *ngIf="transinfo.length" class="table table-striped">
				<thead>
					<tr>
						<th>Ref No.</th>
						<th>Date&Time</th>
						<th>To Benificiary</th>
						<th>Amount</th>
						<th>Remark</th>
						<th>Avl. Bal</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor = "let trans of transinfo">
						<td>{{ trans['refNo']}}</td>
						<td>{{trans['createdOn']}}</td>
						<td>{{trans['benificiary'].name}} Ac/No-{{trans['benificiary'].accountNo}}</td>
						<td>{{trans['amount'] | currency:'INR'}}</td>
						<td>{{trans['remark']}}</td>
						<td>{{trans['availBal'] | currency:'INR'}}</td>
						<td>{{trans['status']}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

