<div class="container mt-2" >
	<div class="row">
		<div class="col-md-3 col-12 mt-1" style="background-color: white;color: black;border-radius: 0.25rem">
			<h3 class="text-center">Account Details</h3><br/>

			<ul>
				<li>
					Account No : {{accountsinfo["id"].acctNo}}
				</li><br/>
				<li>
					Account Type : {{accountsinfo['acctType'] }}
				</li><br/>
				<li>
					Operation Type : {{ accountsinfo['operationType'] }}
				</li><br/>
				<li>
					Ifsc Code : {{ accountsinfo['branch'].ifscCode }}
				</li>

			</ul>
		</div>
		<div class="offset-md-1 col-md-8 col-12" style="background-color: white;color: black;border-radius: 0.25rem">
			<h3 class="text-center">Mini Statement</h3>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Ref No.</th>
						<th>Date&Time</th>
						<th>To Benificiary</th>
						<th>Amount</th>
						<th>Remark</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor = "let trans of transinfo">
						<td>{{ trans['refNo']}}</td>
						<td>{{trans['createdOn']}}</td>
						<td>{{trans['benificiary'].name}} Ac/No-{{trans['benificiary'].accountNo}}</td>
						<td>{{trans['amount']}}</td>
						<td>{{trans['remark']}}</td>
						<td>{{trans['status']}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

