<div class="container text-center">
	<h2>Benficiary List</h2>
	<a routerLink="/#banking/transfer/add_beneficiary" class="btn btn-md btn-info mb-2"> Add Beneficiary </a>
	<div *ngIf="!benifList.length" style="margin-left: 45%">
		<mat-spinner></mat-spinner><br/>
		<h1 style="margin-left: -75%!important">No Beneficiary Added Yet!</h1>
	</div>
	<div  class="row text-center">
		
		<table *ngIf="benifList.length" class="table table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Bank Name</th>
						<th>Branch Name</th>
						<th>Ifsc Code</th>
						<th>Account No</th>
						<th>Actions</th>
						
					</tr>
				</thead>
				<tbody>
					<tr *ngFor = "let beneficiary of benifList">
						<td>{{beneficiary.name}}</td>
						<td>{{beneficiary.bankName}}</td>
						<td>{{beneficiary.branchName}}</td>
						<td>{{beneficiary.ifscCode}}</td>
						<td>{{beneficiary.accountNo}}</td>
						<td><a mat-raised-button color="primary" routerLink="/#banking/transfer/manage_beneficiary/{{beneficiary.benifId}}"><mat-icon>edit</mat-icon></a>
							
						<button class="ml-1" mat-raised-button color="warn" (click)="deleteBenif(beneficiary.benifId)"><mat-icon>delete</mat-icon></button>

						</td>

						
					</tr>
				</tbody>
			</table>
	</div>
	
</div>
