<div class="container text-center">
	<h2 style="background-color: #87a7ff;color:white" class="card-header mt-2 card2">Beneficiary List</h2>
	<a class="btn btn-info btn-md" (click)="navigate('/banking/transfer/manage_beneficiary/add')"> Register Beneficiary </a>
	<div *ngIf="!benifList.length" class="text-center mt-5">
			<h1 class="text-center">No Beneficiary Exist!</h1>
	</div>
	<div  class="row text-center mt-3">
		<div *ngIf="benifListStatic.length">
			<mat-form-field>
            <mat-label>Search Criteria</mat-label>
      		  <mat-select [(ngModel)]="searchCriteria">
      		     <mat-option value="name">Name</mat-option>
      		     <mat-option value="bankName">Bank Name</mat-option>
      		     <mat-option value="accountNo">Account no</mat-option>
      		  </mat-select>	
            
          	</mat-form-field>
			<mat-form-field class="ml-2">
			  <mat-label>Enter Value</mat-label>
			  <input matInput (keyup)="applyFilter($event)" placeholder="Enter name..." #input>
			</mat-form-field>
		</div>
		
		<table *ngIf="benifList.length" class="table table-striped card2  mb-5">
				<thead>
					<tr>
						<th>Sl/No</th>
						<th>Name</th>
						<th>Bank Name</th>
						<th>Branch Name</th>
						<th>Ifsc Code</th>
						<th>Account No</th>
						<th>Actions</th>
						
					</tr>
				</thead>
				<tbody>
					<tr *ngFor = "let beneficiary of benifList; let i=index">
						<td>{{i+1}}</td>
						<td>{{beneficiary.name}}</td>
						<td>{{beneficiary.bankName}}</td>
						<td>{{beneficiary.branchName}}</td>
						<td>{{beneficiary.ifscCode}}</td>
						<td>{{beneficiary.accountNo}}</td>
						<td>
						<a mat-raised-button color="primary" routerLink="/banking/transfer/manage_beneficiary/{{beneficiary.benifId}}"><mat-icon>edit</mat-icon></a>
						<button class="ml-1" mat-raised-button color="warn" (click)="removeBenif(beneficiary.benifId)"><mat-icon>delete</mat-icon></button>


						</td>

						
					</tr>
				</tbody>
			</table>
	</div>
	
</div>
