<div class="container text-center">
	<h2>Benficiary List</h2>
	<div class="row text-center">
		<table  class="table table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Bank Name</th>
						<th>Branch Name</th>
						<th>Ifsc Code</th>
						<th>Account No</th>
						<th>Actions</th>
						
					</tr>
				</thead>
				<tbody>
					<tr *ngFor = "let beneficiary of benifList">
						<td>{{beneficiary.name}}</td>
						<td>{{beneficiary.bankName}}</td>
						<td>{{beneficiary.branchName}}</td>
						<td>{{beneficiary.ifscCode}}</td>
						<td>{{beneficiary.accountNo}}</td>
						<td><button mat-raised-button color="primary"><mat-icon>edit</mat-icon></button>
						<button class="ml-1" mat-raised-button color="warn"><mat-icon>delete</mat-icon></button>

						</td>

						
					</tr>
				</tbody>
			</table>
	</div>
	
</div>
